{% extends 'base.html' %}

{% block title %}
Edit A Pet
{% endblock %}

{% block content %}

<h3>Name: {{ pet.name.capitalize() }}</h3>
<div><img src="{{ pet.photo_url }}" alt="{{ pet.name }} {{ pet.species }}"></div>
<h4>Age: {{ pet.age.capitalize() }}</h4>
<h4>Species: {{ pet.species.capitalize() }}</h4>

<br><br>

<form id="pet-edit-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button class="btn btn-success" type="submit">Save Changes</button>

</form>
{% endblock %}